@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

.header {
  height: 5rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--color-muted-foreground);
  position: fixed;
  top: 0;
  background-color: var(--color-card);
  z-index: 99;
}

.logo {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

.logo::before {
  content: "🍕 ";
  font-size: 1rem;
}

.logo:hover {
  color: var(--color-primary);
  transition-duration: 300ms;
  cursor: pointer;
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__links__wrapper {
  display: flex;
}

.links__list {
  display: flex;
  gap: 0.2rem;
  flex-direction: row;
  list-style: none;
}

.link {
  background-color: var(--color-muted-foreground);

  text-decoration: none;
  color: black;
}
